<div class="users-container">
    <h2>Some trainers that joined the adventure</h2>
    <div class="trainers-list">
    <ul>
        {% for trainer in trainers %}
        <li> {{trainer.name}} | </li>
        {% endfor %}
        </ul>     
    <button class='btn btn-list-trainers'>Access to the complete trainers's list</button>
    </div>
</div>