{% extends 'layout.html.twig' %}

{% block title %}
	All Trainers
{% endblock %}

{% block content %}
	<div class="container">
		<h2>All trainers</h2>
		<a href='/'>Back to home</a>
		<div style="overflow-x:auto;">
			<table class="trainer-list">
				<tr>
					<th>Trainer name</th>
					<th>Team</th>
				</tr>
				{% for trainer in trainers %}
					<tr>
						<td>{{trainer.name}}</td>
						{% if trainer.team_id != null %}
							<td>
							{% for pokemon in trainer.pokemons %}
							{{pokemon}}
							{% endfor %}
							</td>
						{% else %}
							<td>No team</td>
						{% endif %}
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
{% endblock %}
