{% extends 'layout.html.twig' %}

{% block title %}
	All Trainers
{% endblock %}

{% block content %}
	<div class="container">
		<h2>All trainers</h2>
		<a href='/'>Back to home</a>
		<div style="overflow-x:auto;">
			<table class="trainer-list">
				<tr>
					{% if session['userRole'] == "admin" %}
						<th style="width:5%; text-align:center"></th>
					{% endif %}

					<th>Trainer name</th>
					<th>Team</th>
				</tr>
				{% for trainer in trainers %}
					<tr>
						{% if session['userRole'] == "admin" %}
							<td style="width:5%;text-align:center">
								<a class="btn btn-delete" title="Delete trainer and team" href="/user/delete/{{trainer.id}}">X</a>
							</td>
						{% endif %}
						<td>
							{{trainer.name}}</td>
						<td>
							{% for pokemon in trainer.pokemons %}
								{{pokemon}}
							{% else %}
								No team
							{% endfor %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}
