{% extends 'layout.html.twig' %}

{% block title %}
	All Trainers
{% endblock %}

{% block content %}
	{{validationMessage}}
	{% for trainer in trainers %}
		<p>{{trainer.name}}</p>
	{% endfor %}
	<button onclick="location.href='/'" class="btn btn-back">Back home</button>
{% endblock %}
